<h2>Walk Created!</h2>

<b>Walker:</b> <%= @walk.walker.name %><br>

<b>Dog:</b> <%= @walk.dog.name %><br>

<b>Duration in minutes:</b> <%= @walk.walk_length %><br>

<%= link_to "Back to Home", home_path %>
