<h1>Barks and Recreation</h1>

<h2>Welcome, <%= current_owner.username %>!</h2>

Your Dogs:  <% current_owner.dogs.each do |dog| %>
            <%= dog.name %>
                  <% end %>

<h3>Do you want to...</h3>
<%= link_to "Create a Walk", new_walk_path %><br>
<%= link_to "Add New Dog", new_dog_path %>
